<div class="row">
  <div class="col-12 mx-auto text-center mb-2">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center">
          <h5>Búsqueda de Usuarios</h5>
        </div>
        <a name="" id="" class="btn btn-primary end" routerLink="new" rol="button">
          <i class="bi bi-plus-lg"></i> Crear Usuario
        </a>
      </div>
      <form>
        <div class="m-5">
          <input type="text" class="form-control" id="busquedaEmpresa" aria-describedby="busquedaHelp" #terminoEmpresa>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 mx-auto text-center">
    <div class="card">
      <div class="card-title p-4 start">

        <h2>Lista de <span *ngIf="userRole=='admin'"> Usuarios </span> <span *ngIf="userRole=='sysadmin'">
            Administradores </span>Registrados <p *ngIf="company">{{company.nombre}}</p>
        </h2>
        <span class="text-center" *ngIf="company">
          <td class="text-center">
            <!-- <img *ngIf="company.img=='no-image'" src="../../../../../assets/img/no-img.webp" alt="Avatar de usuario"
              class="avatar pointer" (click)="abrirModal(company)">
            <img *ngIf="company.img!='no-image'" [src]="company.img" alt="Avatar de usuario" class="img-avatar pointer"
              (click)="abrirModal(company)"> -->

          </td>
        </span>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <!-- <th>img</th> -->
                <th>Nombre</th>
                <th>Nombre de Usuario</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                
                <td>{{ user.nombre || 'No Especificado' }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.rol }}</td>
                <td>
                  <button *ngIf="this.user.rol=='sysadmin'" class="btn btn-primary btn-sm me-2 d-inline"
                    [routerLink]="['/dashboard/sysadmin/users/edit',user._id]">
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                  <button *ngIf="this.user.rol=='admin'" class="btn btn-primary btn-sm me-2 d-inline"
                    [routerLink]="['/dashboard/admin/users/edit',user._id]">
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                 
                </td>

              </tr>
            </tbody>
          </table>
          <div class="card bg-primary text-light" *ngIf="!users">

            <app-loading-data-spinner class="mb-2"></app-loading-data-spinner>
            <p>Cargando Registros</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>