<div class="container mt-3">
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <!-- Selector de Mes -->
        <label for="mesSelector" class="form-label">Mes:</label>
        <select class="form-select" id="mesSelector" [(ngModel)]="selectedMonth" (change)="actualizarAsistencias()">
          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
        </select>
        <div class="col">
          <!-- Selector de Año -->
          <label for="anioSelector" class="form-label">Año:</label>
          <select class="form-select" id="anioSelector" [(ngModel)]="selectedYear" (change)="actualizarAsistencias()">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- Tabla de Asistencias -->
      <div  class="card">
        <app-spinner *ngIf="!cargado" ></app-spinner>
      </div>
      <div  class="card">
        <div class="card-body">
       
          <mat-paginator 
              [length]="totalEmpleados"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20, totalEmpleados]"
               (page)="cambiarPagina($event)">
          </mat-paginator>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="sticky-column-first">Id</th>
                  <th class="sticky-column-second">Nombre</th>
                  <!-- Generar dinámicamente los encabezados de los días del mes -->
                  <ng-container *ngFor="let dia of diasDelMes(selectedMonth, selectedYear)">
                    <th class="table-light">{{ dia.dia }}</th>
                  </ng-container>
                  
                </tr>
                <tr>
                  <th class="sticky-column-first"></th>
                  <th class="sticky-column-second"></th>
                  <ng-container *ngFor="let dia of diasDelMes(selectedMonth, selectedYear)">
                    <th class="table-light">{{ dia.diaSemana }}</th>
                  </ng-container>
                  
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let empleado of employees">
                  <td class="sticky-column-first">{{ empleado.uidBiometrico}}</td>
                  <td class="sticky-column-second">{{ empleado.nombre}}</td>
                  <!-- Generar dinámicamente las celdas de asistencia para cada día -->
                  <ng-container *ngFor="let dia of diasDelMes(selectedMonth, selectedYear)">

                    <td class="pointer"  (click)="abrirDialogoAsistencia(obtenerAsistenciaData(empleado._id!, dia.dia, selectedMonth, selectedYear))"  [ngClass]="{
                      'table-success': obtenerAsistencia(empleado._id!, dia.dia, selectedMonth-1, selectedYear) === 'asistencia',
                      'table-warning': obtenerAsistencia(empleado._id!, dia.dia, selectedMonth-1, selectedYear) === 'inconsistencia',
                      'table-danger': obtenerAsistencia(empleado._id!, dia.dia, selectedMonth-1, selectedYear) === 'inasistencia'
                    }">{{ obtenerAsistencia(empleado._id!, dia.dia, selectedMonth-1, selectedYear) }}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>