<div  class="dashboard sysadmin-dashboard">
    <h2>DASHBOARD {{user.rol|uppercase}}</h2>
    <div class="stats-panel">
      <div class="stat">
        <span>Total Usuarios</span>
        <span>{{ numberOfUsers }}</span>
      </div>
      <div *ngIf="user.rol=='sysadmin'" class="stat" >
        <span>Total Empresas</span>
        <span>{{ numberOfCompanies}}</span>
      </div>
      <!-- Más estadísticas -->
    </div>
    <div *ngIf="user.rol=='sysadmin'"  class="control-panel">
      <button  [routerLink]="['sysadmin/companies']">Gestionar Empresas</button>
      <button [routerLink]="['sysadmin/users']">Gestionar Usuarios</button>
      <!-- Más controles -->
    </div>
    <div *ngIf="user.rol=='admin'"  class="control-panel">
      <button  [routerLink]="['admin/departments']">
        <i class="bi bi-archive-fill"></i>
        Gestionar Departamentos
      </button>
      <button [routerLink]="['admin/users']">
        <i class="bi bi-person-circle"></i>
        Gestionar Usuarios</button>
      <!-- Más controles -->
    </div>
    <div *ngIf="user.rol=='user'"  class="control-panel">
      <button  [routerLink]="['sysadmin/companies']">Gestionar Empresas</button>
      <button [routerLink]="['sysadmin/users']">Gestionar Usuarios</button>
      <!-- Más controles -->
    </div>
    <!-- Secciones adicionales según sea necesario -->
  </div>
  