<div class="container mt-3 card">
  <h2>Crear Nuevo Usuario</h2>
  <form #userForm="ngForm">
    <!-- Nombre Completo -->
    <div class="mb-3">
      <label for="fullName" class="form-label">Nombre Completo</label>
      <input type="text" class="form-control" id="fullName" [(ngModel)]="user.nombre" name="nombre" required>
    </div>

    <!-- Nombre de Usuario -->
    <div class="mb-3">
      <label for="username" class="form-label">Nombre de Usuario</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
    </div>

    <!-- Contraseña -->
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
    </div>

    <!-- Empresa (Solo visible para el rol 'admin') -->
    <div *ngIf="UsuarioRole === 'admin'" class="mb-3">
      <label for="empresa" class="form-label">Empresa</label>
      <select class="form-select" id="empresa" [(ngModel)]="user.empresa" name="empresa" required>
        <option *ngFor="let company of companies" [value]="company._id">{{ company.nombre }}</option>
      </select>
    </div>

    <!-- Botón para crear el usuario -->
    <button type="submit" class="btn btn-primary" (click)="createUser(userForm)" [disabled]="!userForm.form.valid">Crear Usuario</button>
  </form>
</div>
