.login-container {
    display: flex;
    min-height: 100vh;
  }
  
  .hero-section {
    flex: 1;
    background: url('../../../assets/img/logo.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .hero-section h1 {
    margin-bottom: 20px;
  }
  
  .btn-primary, .btn-secondary {
    margin-bottom: 10px;
    /* Añade más estilos para tus botones aquí */
  }
  .logo-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0 50px;
  }
  .login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
  }
  
  .login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-login {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
  }
  
  .login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
  
    .hero-section, .login-section {
      flex: none;
      width: 100%;
      padding: 20px;
    }
  }
  